:root {
    --primary-color: #0A1125;
    --white: #FFF;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

 html {
    font-size: 62.5%;
 }

body {
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
}
h3 {
    font-size: 5rem;
    text-transform: uppercase;
}
h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}
h5 {
    font-size: 4rem;
    text-transform: uppercase;
}
h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}


.main-bg {
    background-image: url('../images/main-svg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    min-height: 100vh;
}

.menu {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.menu ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}