html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #171717;
    padding: 0;
    color: #fff;
    margin: 0 auto;
    width: 80%;
  }
  
  * {
    box-sizing: border-box;
  }


  h1 {
    font-size: 5rem;
    margin: 0;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.8rem;
  }

  section {
    background-image: url(./assets/media/image.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
    border-radius: 50px;
    overflow: hidden;
  }

.container {
    position: relative;
    width: 1080px;
    padding: 40px;
    margin: 0 auto;
    z-index: 2;
}

.content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-container header {
    width: 50%;
}

.content-container video {
    width: 50%;
    border-radius: 7px;
    margin-left: 10px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}