* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 10px;
    border: 1px solid black;
    margin: 10px;
}

.row {
    position: relative;
    width: 50%;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    margin: 0 auto;
}

.row .box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
